@charset "UTF-8";

/* INTERFACE */

#nav_sp{
	display:block;
	width:25px;
	height:20px;
	position:absolute;
	top:20px;
	right:20px;
	cursor:pointer;
	z-index:11;
}

#nav_sp span{
	display:block;
	margin:7px 0 7px;
	border-top:2px solid #4f8fcc;
}

#nav_sp.open span:first-of-type{
	margin:7px 0 0;
	transform:rotate(45deg);
	transition-duration:0.5s;
}

#nav_sp.open span:last-of-type{
	margin:-2px 0 0;
	transform:rotate(-45deg);
	transition-duration:0.5s;
}

#nav_sp.close span:first-of-type{
	transition-duration:0.5s;
}

#nav_sp.close span:last-of-type{
	transition-duration:0.5s;
}

body>header{
	height:70px;
	margin:0 auto;
	position:relative;
}

body>header h1,
body>header>a{
	margin:0;
	display:flex;
	align-items:center;
	position:absolute;
	top:5px;
	left:20px;
}

body>header h1 img,
body>header>a img{
	width:80px;
	margin:0 5px 0 0;
}

body>header h1 span,
body>header>a span{
	font-size:13px;
	font-weight:300;
	color:#4f8fcc;
}

body>header nav ul{
	width:100%;
	margin:0;
	padding:0 0 10px;
	list-style-type:none;
	text-align:center;
	font-family: "Zen Maru Gothic", serif;
	font-size:16px;
	line-height:1;
	background:linear-gradient(90deg, #5ca1e5, #98d9ad);
	box-shadow:5px 5px 10px 5px rgba(200, 188, 155, 0.3);
	border-radius:0 0 30px 30px;
	position:absolute;
	top:70px;
	left:0;
	z-index:111;
}

body>header nav ul li{
	border-bottom:1px dotted #fafafa;
}

body>header nav ul li:last-child{
	border-bottom:none;
}

body>header nav ul li a{
	display:block;
	padding:15px 0;
}

body>header nav ul li a:link,
body>header nav ul li a:visited{
	color:#fff;
}

body>footer{
	margin:20px 0 0;
	padding:18% 0 0;
	text-align:center;
	background-image:url("../img/interface/shape_ito.png");
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top center;
}

#footer_contact_area{
	padding:0 0 150px;
	background-image:url("../img/message_staff.png");
	background-repeat:no-repeat;
	background-size:280px;
	background-position:bottom right 30%;
}

#footer_contact_area h2{
	margin:0 0 20px;
	font-family: "Zen Maru Gothic", serif;
	font-size:20px;
	color:#165193;
}

#footer_contact_area address{
	font-style:normal;
}

#footer_contact_area address>a{
	display:inline-block;
	margin:0 0 10px;
	padding:0 5px;
	font-size:38px;
	font-weight:400;
	line-height:1;
	color:#165193;
	background:linear-gradient(transparent 65%, #fdce5a 65%);
}

#footer_contact_area address p{
	margin:0;
	font-size:14px;
	color:#165193;
}

#footer_copyright_area{
	margin:0;
	padding:60px 20px;
	background:linear-gradient(90deg, #5ca1e5, #98d9ad);
}

#footer_copyright_area a img{
	width:80px;
	margin:0 0 30px;
}

#footer_copyright_area small{
	display:block;
	font-family:Verdana,sans-serif;
	font-size:10px;
	color:#fff;
}

#sub_contents_sdgs div.sdgs_detail{
	display: block;
}
#sub_contents_sdgs div.sdgs_detail>div{
	margin-bottom: 20px;
}
#sub_contents_sdgs div.sdgs_detail div.icon_area img{
	max-width: 65px;
}